<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Test htmx application</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/webjars/htmx.org/dist/htmx.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Feed</h1>
    <div class="card" id="load-feed">
        <button
                hx-get="/statuses?page=0"
                hx-target="#load-feed"
                hx-swap="outerHTML"
                class="btn btn-outline-primary">Load Feed
        </button>
    </div>
</div>
</body>
</html>
